@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::after,
*::after {
  /* border: 1px solid rgba(255, 102, 102, 0.622); */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

body::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
body::-moz-selection {
  color: none;
  background: none;
}


::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.accent.500");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.accent.700");
}


.react-pdf__Page__textContent{
  display: none;
}

.react-pdf__Document{
  display: flex;
  justify-content: center;
    padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}